@use "../_variables/fonts.scss" as *;

@mixin link-button($color-text, $color-background, $color-hover, $color-arrow) {
    display: block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: $color-text;
    background-color: $color-background;
    // padding: 3px 12px 8px 16px;
    padding: 3px 16px 6px;
    border-radius: 16.5px;
    transition: background-color var(--transition-duration);

    &:hover {
        background-color: $color-hover;
    }

    & span {
        font-size: $font-size-smaller;
        line-height: $line-height-small;
        letter-spacing: 0.2px;
        font-weight: 425;
    }

    & svg {
        box-sizing: content-box;
        padding-left: 5px;
        position: relative;
        top: 1px;
        stroke-width: 2px;
        fill: none;
        stroke: $color-arrow;
    }

    & path:first-child {
        opacity: 0;
        transition: opacity var(--transition-duration);
    }

    & path:last-child {
        transition: transform var(--transition-duration);
    }

    &:hover path:first-child {
        opacity: 1;
    }

    &:hover path:last-child {
        transform: translateX(3px);
    }
}
