@mixin link-button($color-text, $color-background, $color-hover, $color-arrow) {
    --transition-duration: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: $color-text;
    background-color: $color-background;
    padding: 4px 12px 8px 16px;
    border-radius: 16.5px;
    transition: background-color var(--transition-duration);

    &:hover {
        background-color: $color-hover;
    }

    @media (prefers-reduced-motion) {
        --transition-duration: 0 cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    // &--sign-in {
    //     background-color: rgba($color: white, $alpha: 0.2);

    //     &:hover {
    //         background-color: rgba($color: white, $alpha: 0.4);
    //     }
    // }

    // &--contact {
    //     background-color: rgb(10, 37, 64);

    //     &:hover {
    //         background-color: rgba(10, 37, 64, 0.6);
    //     }
    // }

    // &--burger {
    //     background-color: rgb(99, 91, 255);

    //     &:hover {
    //         background-color: rgb(10, 37, 64);
    //     }
    // }

    & span {
        font-size: 15px;
        font-weight: 425;
    }

    & svg {
        padding-left: 5px;
        position: relative;
        top: 1px;
        stroke-width: 2px;
        fill: none;
        stroke: $color-arrow;
    }

    & path:first-child {
        opacity: 0;
        transition: opacity var(--transition-duration);
    }

    & path:last-child {
        transition: transform var(--transition-duration);
    }

    &:hover path:first-child {
        opacity: 1;
    }

    &:hover path:last-child {
        transform: translateX(3px);
    }
}
