@use "index/_variables/general.scss" as *;
@use "global/_variables/colors.scss" as *;
@use "global/_variables/fonts.scss" as *;

$section-padding-top-content: clamp(72px, 8vw + 42px, 128px);
$slant-flair-height: 70px;
$slant-height: 10.5104235266vw;

@mixin section($color-background) {
    display: grid;
    grid-template-columns: $grid-content-columns;
    background: $color-background;
}

@mixin content {
    grid-column: 2;
    grid-row: 1;
    padding-top: $section-padding-top-content;
    padding-left: 32px;
}

@mixin copy($color) {
    color: $color;
    font-size: $font-size-small;
    line-height: $line-height-regular;
    letter-spacing: $letter-spacing-copy;
    font-weight: $font-weight-regular;
}

@mixin section-header($color-heading, $color-caption) {
    & p {
        color: $color-caption;
        font-size: $font-size-small;
        font-weight: $font-weight-bolder;
        line-height: $line-height-regular;
        letter-spacing: $letter-spacing-copy;
    }

    & h2 {
        color: $color-heading;
        font-size: $font-size-large;
        font-weight: $font-weight-bolder;
        line-height: $line-height-header;
        letter-spacing: -0.1px;
        margin: 24px 0 0;

        @media (min-width: 1080px) {
            font-size: $font-size-large;
        }
    }
}


@mixin background($color-upper, $color-lower){
    grid-column: 1/-1;
    grid-row: 1/-1;
    & div:first-child{
        height: 50%;
        background: $color-upper;
    }
    & div:last-child{
        height: 50%;
        background: $color-lower;
    }
}

@mixin slant($color){
    transform-origin: max(32px, (100vw - 1080px + 64px) / 2) 0;
    grid-column: 1/-1;
    grid-row: 1/-1;
    transform: skewY(-6deg);
    background: $color;
}