@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

:root {
    --color-primary: #{$stripe-green};
    --color-gradient-1: #1dcb5d;
    --color-gradient-2: #ffa832;
    --color-gradient-3: #ffa832;
    --color-gradient-4: #ffe85e;
    // --color-primary: green;
}