@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

:root {
    --color-body-bg: #{$stripe-white};
    --color-slant-upper: #ffd848;
    --color-slant-lower: #00d924;
    --color-slant-overlap: #00a600;
}