@use "../_variables/general.scss" as *;
@use "../_variables/fonts.scss" as *;
@use "../_variables/colors.scss" as *;
@use "../_mixins/link-button.scss" as *;

.hero {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    display: grid;
    grid-template-columns: min(53vw + 48px, 624px) minmax(100px, 1fr);
    grid-template-rows: 100px auto auto auto;
    padding-top: clamp(0px, 8vw - 28px, 48px);
    padding-left: 32px;
    column-gap: 40px;

    @media (max-width: 599px) {
        grid-template-columns: 1fr;
        padding-right: 32px;
    }

    &__title {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
        font-size: min(10vw, 98px);
        font-weight: 500;
        line-height: 1.04;
        letter-spacing: -0.04em;
        z-index: -2;
        color: #bdc6d2;

        &--overlay {
            color: #3a3a3a;
            opacity: 0.1;
            z-index: 0;
        }

        &--burn {
            mix-blend-mode: color-burn;
            opacity: 1;
        }

        @media (max-width: 599px) {
            font-size: min(13vw, 78px);
        }
    }

    &__text {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.2px;
        padding-top: 32px;
        max-width: min(53vw - 84px, 492px);
        color: rgb(66, 84, 102);

        @media (max-width: 599px) {
            max-width: initial;
        }
    }

    &__cta {
        grid-column: 1/2;
        grid-row: 4/5;
        margin-top: 32px;
        margin-bottom: 16px;
        @include link-button($stripe-white, $stripe-dark-blue, rgba($stripe-dark-blue, $alpha: 0.4), $stripe-white);
    }

    &__perf {
        grid-column: 2/3;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: 100px 164px 1fr;
        grid-template-rows: 1fr 8fr 1fr;
        height: 600px;

        @media (max-width: 599px) {
            display: none;
        }
    }
}
