<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>lyth frederiksen</title>
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" href="../css/index.scss" />
    </head>
    <body>
        <header class="site-header">
            <div class="site-header__background">
                <div class="site-header__conic"></div>
                <div class="site-header__linear"></div>
                <div class="site-header__vignette"></div>
            </div>
            <nav class="site-header__navbar">
                <a class="site-header__logo" href="/">lyth</a>
                <ul class="site-header__list">
                    <li class="site-header__list-item"><button class="site-header__list-button">Projects</button></li>
                    <li class="site-header__list-item"><button class="site-header__list-button">Blog</button></li>
                    <li class="site-header__list-item"><button class="site-header__list-button">Contact</button></li>
                </ul>
                <div class="site-header__login">
                    <a class="link-button link-button--sign-in" href="">
                        <span class="link-button__text">Sign in</span>
                        <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                            <g fill-rule="evenodd">
                                <path class="link-button__arrow-line" d="M0 5h7"></path>
                                <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="burger">
                    <button class="burger__open">
                        <svg class="burger__svg" width="16" height="10" viewBox="0 0 16 10">
                            <title>Open navigation</title>
                            <g fill-rule="evenodd">
                                <rect y="8" width="16" height="2" rx="1"></rect>
                                <rect y="4" width="16" height="2" rx="1"></rect>
                                <rect width="16" height="2" rx="1"></rect>
                            </g>
                        </svg>
                        <div class="burger__content">
                            <p class="burger__title">This site</p>
                            <ul class="burger__list">
                                <li class="burger__item"><a class="burger__link" href="">Blog</a></li>
                                <li class="burger__item"><a class="burger__link" href="">Projects</a></li>
                                <li class="burger__item"><a class="burger__link" href="">About</a></li>
                            </ul>
                            <p class="burger__title">My socials</p>
                            <ul class="burger__list">
                                <li class="burger__item"><a class="burger__link" href="">Github</a></li>
                                <li class="burger__item"><a class="burger__link" href="">Linkedin</a></li>
                                <li class="burger__item"><a class="burger__link" href="">Facebook</a></li>
                            </ul>
                            <div class="burger__login">
                                <a class="link-button link-button--burger" href="">
                                    <span class="link-button__text">Sign in</span>
                                    <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                                        <g fill-rule="evenodd">
                                            <path class="link-button__arrow-line" d="M0 5h7"></path>
                                            <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </button>
                    <button class="burger__close">
                        <svg width="40" height="40" viewBox="0 0 40 40">
                            <title>Close navigation</title>
                            <path d="M25.6 14.3a1 1 0 0 1 0 1.4l-4.24 4.25 4.25 4.24a1 1 0 1 1-1.42 1.42l-4.24-4.25-4.24 4.25a1 1 0 0 1-1.42-1.42l4.25-4.24-4.25-4.24a1 1 0 0 1 1.42-1.42l4.24 4.25 4.24-4.25a1 1 0 0 1 1.42 0z" fill="#8898AA" fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </nav>
            <div class="site-header__hero">
                <h1 class="site-header__title">Payments infrastructure for the internet</h1>
                <div class="site-header__title site-header__title--overlay">Payments infrastructure for the internet</div>
                <div class="site-header__title site-header__title--overlay site-header__title--burn">Payments infrastructure for the internet</div>
                <p class="site-header__text">Millions of businesses of all sizes—from startups to large enterprises—use Stripe’s software and APIs to accept payments, send payouts, and manage their businesses online.</p>
                <div class="site-header__cta">
                    <a class="link-button link-button--contact" href="">
                        <span class="link-button__text">Start now</span>
                        <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                            <g fill-rule="evenodd">
                                <path class="link-button__arrow-line" d="M0 5h7"></path>
                                <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="site-header__image">
                    <div class="site-header__first-image"></div>
                    <div class="site-header__second-image"></div>
                </div>
            </div>
        </header>
        <section class="first-section">
            <div class="first-section__content">
                <header class="first-section__header">
                    <p class="first-section__caption">Unified platform</p>
                    <h2 class="first-section__title">A fully integrated suite of payments products</h2>
                </header>
                <p class="first-section__copy first-section__copy--first">We bring together everything that’s required to build websites and apps that accept payments and send payouts globally. Stripe’s products power payments for online and in-person retailers, subscriptions businesses, software platforms and marketplaces, and everything in between.</p>
                <p class="first-section__copy first-section__copy--second">We also help companies beat fraud, send invoices, issue virtual and physical cards, get financing, manage business spend, and much more.</p>
                <div class="first-section__cta">
                    <a class="link-button link-button--first-section" href="">
                        <span class="link-button__text">Start with payments</span>
                        <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                            <g fill-rule="evenodd">
                                <path class="link-button__arrow-line" d="M0 5h7"></path>
                                <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="first-section__slant"></div>
        </section>
        <section class="second-section">
            <div class="second-section__content"></div>
            <div class="second-section__slant"></div>
        </section>
        <section class="third-section">
            <div class="third-section__content"></div>
            <div class="third-section__slant"></div>
        </section>
        <footer class="footer">
            <div class="footer__content"></div>
        </footer>
    </body>
</html>
