<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>lyth frederiksen</title>
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" href="../css/index.scss" />
    </head>
    <body>
        <header class="site-header">
            <div class="site-header__background">
                <div class="site-header__conic"></div>
                <div class="site-header__linear"></div>
                <div class="site-header__vignette"></div>
            </div>
            <div class="site-header__navbar">
                <a class="site-header__logo" href="/">lyth</a>
                <nav class="site-header__nav-list">
                    <ul class="site-header__list">
                        <li class="site-header__list-item"><button class="site-header__list-button">Projects</button></li>
                        <li class="site-header__list-item"><button class="site-header__list-button">Blog</button></li>
                        <li class="site-header__list-item"><button class="site-header__list-button">Contact</button></li>
                    </ul>
                </nav>
                <div class="site-header__login">
                    <a class="link-button link-button--sign-in" href="">
                        <span class="link-button__text">Sign in</span>
                        <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                            <g fill-rule="evenodd">
                                <path class="link-button__arrow-line" d="M0 5h7"></path>
                                <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="site-header__hero">
                <h1 class="site-header__title">Payments infrastructure for the internet</h1>
                <div class="site-header__title site-header__title--overlay">Payments infrastructure for the internet</div>
                <div class="site-header__title site-header__title--overlay site-header__title--burn">Payments infrastructure for the internet</div>
                <p class="site-header__text">Millions of businesses of all sizes—from startups to large enterprises—use Stripe’s software and APIs to accept payments, send payouts, and manage their businesses online.</p>
                <div class="site-header__cta">
                    <a class="link-button link-button--contact" href="">
                        <span class="link-button__text">Start now</span>
                        <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                            <g fill-rule="evenodd">
                                <path class="link-button__arrow-line" d="M0 5h7"></path>
                                <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="site-header__image">
                    <div class="site-header__first-image"></div>
                    <div class="site-header__second-image"></div>
                </div>
            </div>
        </header>
        <section class="first-section">
            <div class="first-section__content">
                <header class="first-section__header">
                    <p class="first-section__caption">Unified platform</p>
                    <h2 class="first-section__title">A fully integrated suite of payments products</h2>
                </header>
                <p class="first-section__copy first-section__copy--first">We bring together everything that’s required to build websites and apps that accept payments and send payouts globally. Stripe’s products power payments for online and in-person retailers, subscriptions businesses, software platforms and marketplaces, and everything in between.</p>
                <p class="first-section__copy first-section__copy--second">We also help companies beat fraud, send invoices, issue virtual and physical cards, get financing, manage business spend, and much more.</p>
                <div class="first-section__cta">
                    <a class="link-button link-button--first-section" href="">
                        <span class="link-button__text">Start with payments</span>
                        <svg class="link-button__svg" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                            <g fill-rule="evenodd">
                                <path class="link-button__arrow-line" d="M0 5h7"></path>
                                <path class="link-button__arrow-point" d="M1 1l4 4-4 4"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="first-section__slant"></div>
        </section>
        <section class="second-section">
            <div class="second-section__content"></div>
            <div class="second-section__slant"></div>
        </section>
        <section class="third-section">
            <div class="third-section__content"></div>
            <div class="third-section__slant"></div>
        </section>
        <footer class="footer">
            <div class="footer__content"></div>
        </footer>

        <!-- <section class="section">
                <h2>The things I've done</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eveniet quia ducimus quod modi fuga quas consequatur hic atque ipsa. Nobis consequuntur facilis natus dolore ab maiores odio voluptates iure? Deleniti ipsum iusto vitae, dolorem facere impedit asperiores magni dolores voluptatum cumque error officiis aperiam id amet consectetur doloremque? Nisi, doloremque odio explicabo deleniti voluptate nam ipsum ut corporis at!</p>
            </section>
            <section class="section">
                <h2>My toolbox</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eveniet quia ducimus quod modi fuga quas consequatur hic atque ipsa. Nobis consequuntur facilis natus dolore ab maiores odio voluptates iure? Deleniti ipsum iusto vitae, dolorem facere impedit asperiores magni dolores voluptatum cumque error officiis aperiam id amet consectetur doloremque? Nisi, doloremque odio explicabo deleniti voluptate nam ipsum ut corporis at!</p>
            </section> -->
        <!-- <footer></footer> -->
    </body>
</html>
