---
layout: blog/blog-base.html
---
<nav class="navigation">
    <div class="navigation__content">
        <h1>
            <a href="/blog/">Blog</a>
            {% if project %} 
                <p>/</p>
                <a>{{category}}</a>
                <p>/</p>
                <a>{{project}}</a>
            {% endif %}  
        </h1>
    </div>
</nav>
<article class="post">
    <div class="post__content">
        <div class="post__topics">
            {%- for topic in topics -%}
            <p>{{topic}}</p>
            {%-endfor-%}
        </div>
        <h1 class="post__title">{{title}}</h1>
        <p class="post__date">{{ date | postDate }}</p>
        <div class="post__copy">{{content | safe}}</div>
    </div>
</article>
