{%- from "src/_includes/blog/components/navigation.njk" import navigation -%}
<article class="post-card">
    <div class="post-card__navigation-container">
        {{ navigation({ category: post.data.category, topic: post.data.topic}) }}
    </div>
    <h2 class="post-card__title"><a href="{{post.url}}">{{ post.data.title }}</a></h2>
    <p class="post-card__date">{{ post.data.date | postDate }}</p>
    <div class="post-card__hashtags">
        {{ hashtagList({ hashtags: post.data.hashtags}) }}
    </div>
    <p class="post-card__copy">{{ post.data.snippet }}</p>
    <div class="post-card__cta">{{ linkButton({ text: (post.data.cta if post.data.cta else "Read post"), href: post.url }) }}</div>
    <div class="post-card__image">
        <img src="{{post.data.img}}" class="lazyfit" data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/blog/stripe-imitation_0GrxC5rvM.png" alt="" />
    </div>
</article>
