<article class="post-card">
    <p class="post-card__category">Build</p>
    <h2 class="post-card__title">{{ post.data.title }}</h2>
    <p class="post-card__date">{{ post.data.date | postDate }}</p>
    <div class="post-card__topics">
        {%- for topic in post.data.topics -%}
        <p>{{topic}}</p>
        {%-endfor-%}
    </div>
    <p class="post-card__copy">{{ post.data.snippet }}</p>
    <div class="post-card__cta">{{ linkButton({ text: (post.data.cta if post.data.cta else "Read more"), href: "/blog" }) }}</div>
    <div class="post-card__image">
        <img src="{{post.data.img}}" class="lazyfit" data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/blog/stripe-imitation_0GrxC5rvM.png" alt="" />
    </div>
</article>