@use "../_variables/general.scss" as *;
@use "../_variables/fonts.scss" as *;
@use "../_variables/colors.scss" as *;
@use "../_mixins/section.scss" as *;
@use "../_mixins/link-button.scss" as *;

.disclaimer {
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(0, 320px) minmax(32px, 1fr);
    background-color: $stripe-white;
    padding-bottom: 64px;
    &__content {
        grid-column: 2;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: min-content min-content min-content min-content;
        gap: 8px;
        justify-content: center;
    }

    &__line {
        color: $stripe-white;
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
        line-height: $line-height-regular;
        width: max-content;
        
        & > p {
            box-shadow: 0 2px 4px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
            background: $stripe-dark-blue;
            // background: black;
            padding: 0 3px;
        }

        &--1 {
            grid-column: 1/5;
            grid-row: 1;
            // transform: rotate(2deg);
        }
        
        &--2 {
            transform: rotate(-3deg);
            grid-column: 1/2;
            grid-row: 2;
        }
        
        &--3 {
            // transform: rotate(-1deg);
            grid-column: 2/5;
            grid-row: 2;
        }

        &--4 {
            position: relative;
            grid-column: 2/5;
            grid-row: 2;
            justify-self: end;
            z-index: 1;
            transform: rotate(10deg);
            top: -4px;
            right: 16px;
        }

        &--5 {
            grid-column: 1/2;
            grid-row: 3;
            justify-self: end;
            // transform: rotate(3deg);
        }
        
        &--6 {
            position: relative;
            grid-column: 2/3;
            grid-row: 3;
            top: 3px;
            transform: rotate(3deg);
        }

        &--7 {
            grid-column: 3/4;
            grid-row: 3;
        }

        &--8 {
            grid-column: 4/5;
            grid-row: 3;
            width: 80px;
            // padding: 6px;
        }

        &--9 {
            grid-column: 1/5;
            grid-row: 4;
            justify-self: end;
            & > a {
                // background: $stripe-dark-blue;
                // @include link-button($stripe-white, $stripe-dark-blue, $stripe-dark-blue, $stripe-white);
                @include link-button($stripe-dark-blue, transparent, transparent, $stripe-dark-blue);
            }

        }

        &--highlight > p {
            background: $stripe-purple;
        }
    }

    // &__stolen-from {
    //     grid-column: 2;
    //     grid-row: 2;
    //     position: relative;
    //     & > p {
    //         color: $stripe-purple;
    //         font-size: $font-size-small;
    //         font-weight: $font-weight-bold;
    //         line-height: $line-height-regular;
    //         position: absolute;
    //         width: max-content;
    //         top: -8px;
    //         left: -76px;
    //         padding: 0 2px;
    //         transform: rotate(10deg);
    //         background: white;
    //         box-shadow: 0 2px 4px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
    //     }
    // }

    // &__stripe {
    //     position: relative;
    //     display: inline-block;
    //     width: 72px;
    //     fill: $stripe-white;
    //     padding-left: 8px;
    //     top: 7px;
    // }

    // &__strike-through {
    //     text-decoration: $stripe-white 4px line-through;
    // }

    // &__highlight-link {
    //     grid-column: 1;
    //     justify-self: end;
    //     @include link-button($stripe-white, transparent, transparent, $stripe-white);
    //     background: #000;
    //     border-radius: 0;
    // }
}
