@use "../_variables/general.scss" as *;
@use "../_variables/colors.scss" as *;
@use "../_variables/fonts.scss" as *;
@use "../_mixins/section.scss" as *;
@use "../_mixins/misc.scss" as *;

.footer {
    @include section($stripe-background-white);

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding: 64px 32px 8px 32px;
    }

    &__main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 32px;
        grid-template-areas: 
        "title nav contact";
        row-gap: 32px;

        @media (max-width: 799px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "title title title"
            "nav nav contact";
        }
    }

    &__title {
        grid-area: title;
        margin: 0;
        font-weight: $font-weight-boldest;
        font-size: $font-size-regular;

        & a {
            color: $stripe-dark-blue;

            &:focus:not(:hover) {
                outline: none;
                text-decoration: underline;
            }
        }
    }

    &__list {
        @include link($stripe-dark-blue);
        grid-area: nav;
        justify-self: center;

        & li:last-child{
            justify-self: center;
        }

        @media (max-width: 799px) {
            display: contents;
        }
    }

    &__contact {
        @include link($stripe-dark-blue);
        grid-area: contact;
        justify-self: end;
    }

    &__copyright {
        width: max-content;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        letter-spacing: $letter-spacing-copy;
        margin: 0 auto;
        color: $stripe-dark-blue;
    }

}