@use "../_variables/general.scss" as *;
@use "../_variables/fonts.scss" as *;
@use "../_variables/colors.scss" as *;
@use "../_mixins/section.scss" as *;
@use "../_mixins/misc.scss" as *;

.header {
    @include section(transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    
    &__content {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 32px 0px;
    
        @media (max-width: $breakpoint-medium) {
            height: 64px;
            padding-top: 24px;
        }

    }
    
    &__logo {
        padding-bottom: 4px;
        text-decoration: none;
        color: white;
        font-size: $font-size-regular;
        font-weight: $font-weight-boldest;

        &:focus:not(:hover) {
            outline: none;
            text-decoration: underline;
        }
    }

    &__list {
        @include link($stripe-white);
        
        @media (max-width: $breakpoint-medium) {
            display: none;
        }
    }

    &__login {
        --link-button-text-color: #{$stripe-white};
        --link-button-bg-color: #{rgba($color: white, $alpha: 0.2)};
        --link-button-hover-color: #{rgba($color: white, $alpha: 0.4)};
        @media (max-width: $breakpoint-medium) {
            display: none;
        }
    }
}
