@use "../_variables/general.scss" as *;
@use "../_variables/fonts.scss" as *;
@use "../_variables/colors.scss" as *;
@use "../_mixins/section.scss" as *;
@use "../_mixins/link-button.scss" as *;

.section-2 {
    @include section($stripe-dark-blue);

    &__content {
        @include content;
        padding-bottom: calc($section-padding-top-content + 9vw + 24px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "main image"
            "highlight image";
        row-gap: 36px;

        @media (max-width: $breakpoint-medium) {
            grid-template-columns: initial;
            grid-template-areas:
                "main"
                "highlight"
                "image";
        }
    }

    &__main {
        grid-area: main;
        margin-right: 64px;
        display: grid;
        gap: 24px;

        @media (max-width: $breakpoint-medium) {
            margin-right: 32px;
        }
    }

    &__header {
        @include section-header($stripe-white, $stripe-blue);
    }

    &__copy {
        @include copy($stripe-light-grey);
    }

    &__cta {
        @include link-button($stripe-dark-blue, $stripe-blue, $stripe-white, $stripe-dark-blue);
    }

    &__highlight {
        grid-area: highlight;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        letter-spacing: $letter-spacing-copy;
        line-height: $line-height-small;
        margin-right: 64px;

        @media (max-width: $breakpoint-large) {
            grid-template-columns: initial;
            grid-template-rows: 1fr 1fr;
        }

        @media (max-width: $breakpoint-medium) {
            margin-right: 32px;
        }
    }

    &__highlight-item {
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: 8px;
        font-size: $font-size-smaller;
    }

    &__highlight-icon {
        width: 40px;

        & path {
            stroke: $stripe-purple;
            fill: none;
        }
    }

    &__highlight-title {
        color: $stripe-white;
        font-size: $font-size-smaller;
        font-weight: $font-weight-bold;
        margin: 0;

        &::before {
            display: block;
            position: relative;
            content: "";
            border-left: 1px solid $stripe-blue;
            top: 50%;
            left: -16px;
            height: $font-size-smaller;
            width: 0px;
        }
    }

    &__highlight-copy {
        color: $stripe-light-grey;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        font-style: italic;
    }

    &__highlight-link {
        @include link-button($stripe-blue, transparent, transparent, $stripe-blue);
        padding: 0;
    }

    &__image {
        grid-area: image;
        margin-right: 16px;
        border: 1px solid #0f395e;
        border-radius: 8px;
        overflow: hidden;
        transform: scale(var(--image-scale-toggle, 0.99));
        transition: transform 0.2s;

        @media (max-width: $breakpoint-medium) {
            margin-right: 32px;
        }

        & img {
            color: $stripe-blue;
            display: block;
            height: 0;
            width: 0;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.2s;

            &:hover {
                filter: none;
            }

            @media (max-width: $breakpoint-medium) {
                height: 400px;
                width: 100%;
            }
        }

        &:hover {
            transform: scale(1);
        }
    }

    &__slant {
        @include slant($stripe-white);
    }
}
