$font-family: "sohne-var", "Arial",sans-serif;
$font-size-smaller: 15px;
$font-size-small: 18px;
$font-size-regular: 24px;
$font-size-large: 34px;
$font-size-larger: 38px;
$font-weight-regular: 300;
$font-weight-bold: 425;
$font-weight-bolder: 500;
$font-weight-boldest: 600;
$letter-spacing-copy: 0.2px;
$line-height-small: 25px;
$line-height-regular: 28px;
$line-height-header: 44px;