@use "fonts.scss" as *;

$section-highlight-font-size: $font-size-small;
$section-highlight-title-font-weight: $font-weight-bold;
$section-highlight-copy-font-weight: $font-weight-regular;
$section-highlight-line-height: 25px;
$section-caption-font-size: $font-size-regular;
$section-caption-font-weight: $font-weight-bolder;
$section-caption-line-height: $line-height-copy;
$section-caption-letter-spacing: $letter-spacing-copy;
$section-copy-font-size: $font-size-regular;
$section-copy-font-weight: $font-weight-regular;
$section-copy-line-height: $line-height-copy;
$section-copy-letter-spacing: $letter-spacing-copy;
$section-padding-top-content: clamp(72px, 8vw + 42px, 128px);