*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden; //Needed on both html and body - issue due to mobile browers
}

p,
ul,
li {
    margin: 0;
}

a {
    text-decoration: none;
}
