@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.post {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(320px, 720px) minmax(0px, 1fr);

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding: 12px 32px 0px;
    }

    &__title {
        margin: 0;
        padding-top: 24px;
        padding-bottom: 32px;
        color: $stripe-dark-blue;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bold;
        // line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
    }

    &__date {
        position: relative;
        color: $stripe-cloud-blue;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
        justify-self: end;
        margin-bottom: 32px;
        height: min-content;

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid $stripe-purple;
            left: -16px;
            height: 100%;
            transform: scaleY(math.div($font-size-smaller, $line-height-small));
        }
    }

    &__topics {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        & p {
            padding: 0 4px;
            text-transform: uppercase;
            color: $stripe-cloud-blue;
            font-size: 12px;
            font-weight: $font-weight-regular;
            line-height: $line-height-small;
            letter-spacing: $letter-spacing-copy;
        }

        & p:nth-child(3n - 2) {
            background-color: #def8dd;
        }
        & p:nth-child(3n - 1) {
            background: #f6e6b9;
        }
        & p:nth-child(3n) {
            background: rgba($stripe-blue, $alpha: 0.25);
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        gap: 24px;

        & p {
            color: $stripe-cloud-blue;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;
        }

        & h2 {
            margin: 0;
            padding-top: 32px;
            color: $stripe-dark-blue;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            // line-height: $line-height-small;
            letter-spacing: $letter-spacing-copy;
        }

        & sup {
            line-height: 0;
            font-size: 0.6em;
        }

        & ul {
            color: $stripe-cloud-blue;
            font-size: $font-size-smaller;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;
            list-style: none;
        }

        & li {
            margin-bottom: 16px;
        }

        & figure {
            position: relative;
            margin: 0;
            left: -16px;
        }

        & figcaption {
            text-align: center;
            color: $stripe-dark-blue;
            font-style: italic;
            position: relative;
            top: -8px;
        }
    }
}
