@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.post-list {
    display: grid;
    grid-template-columns: $grid-content-columns;
    padding-bottom: 128px;
    background-color: $stripe-white;
    
    &__content {
        grid-column: 2;
        grid-row: 1;
        padding: 128px 16px 0px;
    }

    &__selector {
        padding: 0px 16px 64px 16px;
        display: flex;

        & input {
            appearance: none;
            margin: 0;
        }

        & input:checked + label {
            background-color: $stripe-purple;
            color: white;
        }

        & label {
            user-select: none;
            font-family: $font-family;
            color: $stripe-dark-blue;
            font-size: $font-size-smaller;
            font-weight: $font-weight-bold;
            line-height: $line-height-small;
            letter-spacing: $letter-spacing-copy;
            padding: 4px 16px 5px 16px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: opacity var(--transition-duration), background-color var(--transition-duration);
            border-radius: 16px;

            &:hover:not(input:checked + label) {
                opacity: 0.65;
            }
        }
    }

    &__list {
        padding: 0 16px 0;
        display: flex;
        flex-direction: column;
        gap: 128px;
    }
}
