@use "../_variables/general.scss" as *;
@use "../_variables/colors.scss" as *;

.footer {
    display: grid;
    grid-template-columns: $grid-content-columns;
    background: $stripe-background-white;

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding-left: 32px;
        height: 100px;
    }

}