@font-face {
    // font-family: "Roboto";
    // font-weight: 1 999;
    // src: url("/css/_fonts/roboto.ttf") format("truetype");
    // font-display: swap;
    // font-family: "Roboto";
    // font-weight: 300 800;
    // src: url("/css/_fonts/roboto-partial.ttf") format("truetype");
    // font-display: swap;
    font-family: "Roboto";
    font-weight: 300 800;
    src: url("/css/_fonts/roboto-subset.woff2");
    font-display: swap;
}
