:root{
    --font-size-regular: 18px;
    --font-size-small: 15px;
    --font-size-large: 34px;
    --font-size-larger: 38;
    --font-weight-regular: 300;
    --font-weight-bold: 425;
    --font-weight-bolder: 500;
    --letter-spacing-copy: 0.2px;
    --line-height-copy: 28px;
}