:root{
    --color-gradient-1: #a960ee;
    --color-gradient-2: #ff333d;
    --color-gradient-3: #90e0ff;
    --color-gradient-4: #ffcb57;

    @media (prefers-reduced-motion) {
        --icon-animation: none;
        --image-scale-toggle: 1;
    }
}