{%- from "src/_includes/global/components/link-button.njk" import linkButton -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preload" href="/css/_fonts/roboto.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="stylesheet" href="{{style}}" />
        <title>lyth frederiksen | {{title}}</title>
    </head>
    <body>
        <header class="header">
            <div class="header__content">
                <div class="header__logo-container">
                    <a class="logo" href="/">lyth frederiksen</a>
                </div>
            </div>
        </header>
        <main>{{content | safe}}</main>
        <footer class="footer">
            <div class="footer__content">
                <div class="footer__main">
                    <div class="footer__logo-container">
                        <a class="logo" href="/">lyth frederiksen</a>
                    </div>
                    <ul class="footer__list">
                        <li><a href="">Projects</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                    <ul class="footer__contact">
                        <li><a href="mailto:contact@lythfrederiksen.com">Contact</a></li>
                    </ul>
                </div>
                <p class="footer__copyright">© 2022 Dennis Lyth Frederiksen</p>
            </div>
        </footer>
    </body>
</html>
