@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.disclaimer-container {
    padding-top: 128px;
    background: white;
    --link-button-text-color: var(--color-primary, #{$stripe-dark-blue});
    --link-button-bg-color: transparent;
    --link-button-bg-hover-color: transparent;
    --link-button-text-hover-color: #{$stripe-dark-blue};
}
