@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.introduction {
    display: grid;
    grid-template-columns: $grid-content-columns;
    padding-bottom: min(64px, 10vw);

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding: 32px 32px 32px;
        z-index: 1;
        display: grid;
        grid-template-columns: 3fr 1fr;
        row-gap: 32px;

        @media (max-width: $breakpoint-medium) {
            grid-template-columns: 1fr;
        }
    }

    &__heading {
        margin: 0;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bolder;
        line-height: $line-height-xlheader;
        letter-spacing: -0.02em;
        color: $stripe-dark-blue;
    }

    &__copy {
        grid-column: 1;
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
        line-height: $line-height-regular;
        letter-spacing: $letter-spacing-copy;
        color: $stripe-cloud-blue;

    }
}
