<div class="header__content">
    <a class="header__logo" href="/">lyth</a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__list-item"><a href="">Projects</a></li>
            <li class="header__list-item"><a href="">Blog</a></li>
        </ul>
    </nav>
    <div class="header__login">{{ linkButton({ text: 'sudo', href: "" }) }}</div>
    <div class="burger">
        <button class="burger__open">
            <svg role="presentation" class="burger__svg" width="16" height="10" viewBox="0 0 16 10">
                <title>Open navigation</title>
                <g fill-rule="evenodd">
                    <rect y="8" width="16" height="2" rx="1"></rect>
                    <rect y="4" width="16" height="2" rx="1"></rect>
                    <rect width="16" height="2" rx="1"></rect>
                </g>
            </svg>
            <div class="burger__content">
                <p class="burger__title">This site</p>
                <ul class="burger__list">
                    <li class="burger__item"><a class="burger__link" href="">Blog</a></li>
                    <li class="burger__item"><a class="burger__link" href="">Projects</a></li>
                    <li class="burger__item"><a class="burger__link" href="">About</a></li>
                </ul>
                <p class="burger__title">My socials</p>
                <ul class="burger__list">
                    <li class="burger__item"><a class="burger__link" href="">Github</a></li>
                    <li class="burger__item"><a class="burger__link" href="">Linkedin</a></li>
                    <li class="burger__item"><a class="burger__link" href="">Facebook</a></li>
                </ul>
                <div class="burger__login">
                    {{ linkButton({ text: 'sudo', href: "" }) }}
                </div>
            </div>
        </button>
        <button class="burger__close">
            <svg role="presentation" width="40" height="40" viewBox="0 0 40 40">
                <title>Close navigation</title>
                <path d="M25.6 14.3a1 1 0 0 1 0 1.4l-4.24 4.25 4.25 4.24a1 1 0 1 1-1.42 1.42l-4.24-4.25-4.24 4.25a1 1 0 0 1-1.42-1.42l4.25-4.24-4.25-4.24a1 1 0 0 1 1.42-1.42l4.24 4.25 4.24-4.25a1 1 0 0 1 1.42 0z" fill="#8898AA" fill-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</div>
