<div class="hero__background">
    <!-- <div class="hero__stripe"></div> -->
</div>
<div class="hero__content">
    <h1 class="hero__title">Who <br />put me <br />in charge?</h1>
    <div class="hero__title hero__title--overlay hero__title--burn">Who <br />put me <br />in charge?</div>
    <div class="hero__title hero__title--overlay">You <br />put me <br />in charge !</div>
    <p class="hero__text">Hi there, I'm Dennis! I used to have a beard. Now I don't. Am I trying to grow a new one? Maybe. Who’s asking? You’ a cop?</p>
    <div class="hero__cta">
        <div class="hero__read-blog">
            {{ linkButton({ text: 'Read the blog', href: "/blog" }) }}
        </div>
        <div class="hero__contact">
            {{ linkButton({ text: 'Contact', href: "/contact" }) }}
        </div>
    </div>
    {% include 'src/_includes/index/perf.html' %}
</div>
