<div class="section-1__content">
    <div class="section-1__main">
        <header class="section-1__header">
            <p class="section-1__caption">What I build</p>
            <h2 class="section-1__title">A tiny house made for a big project</h2>
        </header>
        <p class="section-1__copy section-1__copy--1">Once upon a time I needed a place to live. I didn’t know where, so I figured I'd just build something moveable! Smart thinking, right? I faced one small problem however... I didn’t know anything about building houses!</p>
        <p class="section-1__copy section-1__copy--2">Ignorance wasn’t going to stop me, and after a ton of learning - and an equal amount of messing up - I had built a <a href="#">tiny house</a>. A pretty nice one actually!</p>
        <a class="section-1__cta" href="">
            <span>More of what I build</span>
            <svg width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                <g fill-rule="evenodd">
                    <path d="M0 5h7"></path>
                    <path d="M1 1l4 4-4 4"></path>
                </g>
            </svg>
        </a>
    </div>
    <div class="section-1__image-container">
        <img class="section-1__image section-1__image--1" data-lazy data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/section-1-01_LMqYV5xoO.jpeg?tr=w-{width},h-{height},c-at_least" src="" alt="My tiny house seen from the outside, shot from a ground level perspective.. The house is sitting on a mowed, green field of grass, with trees and a blue skye in the background. Its red-brown color makes it pop from its surroundings." />
        <img class="section-1__image section-1__image--2" data-lazy data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/section-1-02_ZpU0k6f4D.jpeg?tr=w-{width},h-{height},c-at_least" src="" alt="The tiny house building process, before the walls were raised. I'm sitting on what will later become the roof-module, to be lifted onto the raised walls by crane. It's a sunny September day." />
        <img class="section-1__image section-1__image--3" data-lazy data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/section-1-03_ArPUHh94B.jpeg?tr=w-{width},h-{height},c-at_least" src="" alt="An interior shot of my tiny house, taken from a ceiling height perspective. We see the edge of a bed, a desk with a monitor, and a small kitchen with a black sink. Furthest from the camera we see a door opening to a bathroom." />
        <img class="section-1__image section-1__image--4" data-lazy data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/section-1-04_p7rcFNCE4.jpeg?tr=w-{width},h-{height},c-at_least" src="" alt="Tiny house building process. The walls have long since been raised and I'm in the process of installing the metal roof panels. The photographers angle is from up high, a second story window looking down on the tiny house." />
        <img class="section-1__image section-1__image--5" data-lazy data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/section-1-05_K63q4Y2N2.jpeg?tr=w-{width},h-{height},c-at_least" src="" alt="The finished tiny house being lifted off a semi-trailer by a crane. The house is dangling in the air, with a beautiful blue sky in the background." />
    </div>
</div>
<div class="section-1__slant"></div>
