<div class="section-2__content">
    <div class="section-2__main">
        <header class="section-2__header">
            <p>What I write</p>
            <h2>A wild author appeared</h2>
        </header>
        <p class="section-2__copy">With my tiny house complete, I wondered what I ought to do with all the knowledge gained. "Why not share it?", I thought. And so I did! Fifty thousand words later I had written my very first ebook!</p>
        <p class="section-2__copy">I've done academic writing in the field of innovation and entrepreneurship, including a peer reviewed journal article and a book chapter.</p>
        <a class="section-2__cta" href="">
            <span>More of what I write</span>
            <svg width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                <g fill-rule="evenodd">
                    <path d="M0 5h7"></path>
                    <path d="M1 1l4 4-4 4"></path>
                </g>
            </svg>
        </a>
    </div>
    <div class="section-2__highlight">
        <div class="section-2__highlight-item">
            <h3 class="section-2__highlight-title">Peer reviewed</h3>
            <p class="section-2__highlight-copy">How do entrepreneurs think they create value? A scientific reflection of Eric Ries’ Lean Startup approach</p>
            <a class="section-2__highlight-link" href="">
                <span>More of what I write</span>
                <svg width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                    <g fill-rule="evenodd">
                        <path d="M0 5h7"></path>
                        <path d="M1 1l4 4-4 4"></path>
                    </g>
                </svg>
            </a>
        </div>
        <div class="section-2__highlight-item">
            <h3 class="section-2__highlight-title">Book contribution</h3>
            <p class="section-2__highlight-copy">From knowledge to innovation : a review on the evolution of the absorptive capacity concept</p>
            <a class="section-2__highlight-link" href="">
                <span>More of what I write</span>
                <svg width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
                    <g fill-rule="evenodd">
                        <path d="M0 5h7"></path>
                        <path d="M1 1l4 4-4 4"></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="section-2__image">
        <img data-lazy data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/section-2-01_hVZ47EYyW.png?tr=w-{width},h-{height},c-at_least" src="" alt="A shot of my tiny house book lying on a table, with a coffee cup, a pair of glasses and the edge of a laptop visible next to it. The cover of the book is a drawing of the tiny house positioned in front of a forest." />
    </div>
</div>
