// $stripe-purple: #635bff; //Original
$stripe-purple: #6259ff;
$stripe-blue: #00d4ff;
$stripe-white: #ffffff;
$stripe-dark-blue: #0a2540;
$stripe-light-grey: #adbdcc;
$stripe-background-white: #f6f9fc;
$stripe-cloud-blue: #425466;
$stripe-green: #15be53;
$stripe-orange: #ff7600;