$font-family: "Roboto", "Arial",sans-serif;
$font-size-smaller: 15px;
$font-size-small: 18px;
$font-size-regular: 24px;
$font-size-large: 34px;
$font-size-larger: 38px;
$font-size-xlarge: 42px;
$font-size-xxlarge: 48px;
$font-size-xxlarge: 56px;
$font-weight-regular: 450;
$font-weight-bold: 600;
$font-weight-bolder: 650;
$font-weight-boldest: 800;
$letter-spacing-copy: 0.2px;
$line-height-small: 24px;
$line-height-regular: 28px;
$line-height-header: 44px;