$grid-content-columns: minmax(0px, 1fr) minmax(320px, 1080px) minmax(0px, 1fr);
$breakpoint-small: 400px;
$breakpoint-xlsmall: 500px;
$breakpoint-medium: 600px;
$breakpoint-xlmedium: 750px;
$breakpoint-large: 900px;