<section class="hero">
    <div id="canvas-gradient" data-gradient-height="800" class="hero__background">
    </div>
    <div class="hero__content">
        <header class="hero__header">
            <h1 class="hero__title">Not yet<br />generated<br />by an AI</h1>
            <div aria-hidden="true" class="hero__title hero__title--overlay hero__title--burn">Not yet<br />generated<br />by an AI</div>
            <div aria-hidden="true" class="hero__title hero__title--overlay">Not yet<br />generated<br />by an AI</div>
        </header>
        <div class="hero__copy">
            <p>Hi there, I’m Dennis!</p>
            <p>This page weighs in at 56kB and takes 8.6 seconds to load over GPRS.</p>
            <p>I'm quite pleased with that, you know.</p>
        </div>
        <div class="hero__cta">
            <div class="hero__read-blog">
                {{ linkButton({ text: 'Read the blog', href: "/blog/" }) }}
            </div>
            <div class="hero__contact">
                {{ linkButton({ text: 'See my projects', href: "/projects/" }) }}
            </div>
        </div>
        {% include 'src/_includes/index/page-partials/perf.html' %}
    </div>
</section>