<section class="section-2">
    <div class="section-2__background">
        <div></div>
        <div></div>
    </div>
    <div class="section-2__slant"></div>
    <div class="section-2__content">
        <div class="section-2__main">
            <header class="section-2__header">
                <p>What I write</p>
                <h2>A wild author appeared</h2>
            </header>
            <p class="section-2__copy">With my tiny house complete, I wondered what I ought to do with all the knowledge
                gained. &ldquo;Why not share it?&rdquo;, I thought. And so I did! Fifty thousand words later I had
                written my very first ebook!</p>
            <p class="section-2__copy">Previously I’ve also done academic writing in the field of innovation and
                entrepreneurship, including a peer reviewed journal article and a book chapter.</p>
            <div class="section-2__cta">
                {{ linkButton({ text: 'More of what I write', href: "projects/write" }) }}
            </div>
        </div>
        <div class="section-2__highlight">
            <div class="section-2__highlight-item">
                <h3 class="section-2__highlight-title">Peer reviewed</h3>
                <p class="section-2__highlight-copy">How do entrepreneurs think they create value? A scientific
                    reflection of Eric Ries’ Lean Startup approach</p>
                <div class="section-2__highlight-link">
                    {{ linkButton({ text: 'Abstract at Springer', href:
                    "https://link.springer.com/article/10.1007/s11365-016-0411-x" }) }}
                </div>
            </div>
            <div class="section-2__highlight-item">
                <h3 class="section-2__highlight-title">Book contribution</h3>
                <p class="section-2__highlight-copy">From knowledge to innovation: a review on the evolution of the
                    absorptive capacity concept</p>
                <div class="section-2__highlight-link">
                    {{ linkButton({ text: 'Abstract at Taylor & Francis', href:
                    "https://www.taylorfrancis.com/books/edit/10.4324/9781315445281/knowledge-spillover-based-strategic-entrepreneurship-jo%C3%A3o-ferreira-leo-paul-dana-vanessa-ratten?refId=971ebc87-d772-4100-b161-8ef7bd49298b&context=ubx"
                    }) }}
                </div>
            </div>
        </div>
        <img role="presentation" class="section-2__image lazyfit" data-add-class="lazyfit--show"
        data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/index/section-2-01_hVZ47EYyW.png?tr=w-{width},h-{height},c-maintain_ratio"
        src="" alt="" />
    </div>
</section>