<section class="section-1">
    <div class="section-1__content">
        <div class="section-1__main">
            <header class="section-1__header">
                <p class="section-1__caption">What I build</p>
                <h2 class="section-1__title">A tiny house made for a big project</h2>
            </header>
            <p class="section-1__copy section-1__copy--1">Once upon a time I needed a place to live. I didn’t know
                where, so I figured I’d just build something moveable! Smart thinking, right? I faced one small problem
                however... I didn’t know anything about building houses!</p>
            <p class="section-1__copy section-1__copy--2">Ignorance wasn’t going to stop me, and after a ton of learning
                - and an equal amount of messing up - I had built a <a href="#">tiny house</a>. A pretty nice one
                actually!</p>
            <div class="section-1__cta">
                {{ linkButton({ text: 'More of what I build', href: "projects/build" }) }}
            </div>
        </div>
        <div class="section-1__image-container">
            <img role="presentation" class="lazyfit section-1__image section-1__image--1" data-add-class="lazyfit--show"
                data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/index/section-1-01_LMqYV5xoO.jpeg?tr=w-{width},h-{height},c-at_least"
                src="" alt="" />
            <img role="presentation" class="lazyfit section-1__image section-1__image--2" data-add-class="lazyfit--show"
                data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/index/section-1-02_ZpU0k6f4D.jpeg?tr=w-{width},h-{height},c-at_least"
                src="" alt="" />
            <img role="presentation" class="lazyfit section-1__image section-1__image--3" data-add-class="lazyfit--show"
                data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/index/section-1-03_ArPUHh94B.jpeg?tr=w-{width},h-{height},c-at_least"
                src="" alt="" />
            <img role="presentation" class="lazyfit section-1__image section-1__image--4" data-add-class="lazyfit--show"
                data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/index/section-1-04_p7rcFNCE4.jpeg?tr=w-{width},h-{height},c-at_least"
                src="" alt="" />
            <img role="presentation" class="lazyfit section-1__image section-1__image--5" data-add-class="lazyfit--show"
                data-src="images/https://ik.imagekit.io/dlfdk/lythfrederiksen/index/section-1-05_K63q4Y2N2.jpeg?tr=w-{width},h-{height},c-at_least"
                src="" alt="" />
        </div>
    </div>
</section>