@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

body {
    background-color: var(--background-color);
    font-family: $font-family;
    margin: 0;
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}