---
layout: global/layouts/base.html
---
{%- from "src/_includes/global/components/hashtag-list.njk" import hashtagList -%}
{%- from "src/_includes/global/components/navigation.njk" import navigation -%}
<div class="navigation-container">
    {{ navigation({ items:[[home + "/", home], [home + "/" + category, category]]}) }}
</div>
<article class="article">
    <div class="article__content">
        <h1 class="article__title">{{title}}</h1>
        <div class="article__hashtags">
            {{ hashtagList({ hashtags: hashtags}) }}
        </div>
        <p class="article__date">{{ date | postDate }}</p>
        <div class="article__copy">{{content | safe}}</div>
    </div>
</article>
