{%- from "src/_includes/global/components/link-button.njk" import linkButton -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex" />
        <link rel="preload" href="/css/_fonts/roboto.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="stylesheet" href="{{style}}" />
        <title>lyth frederiksen | {{title}}</title>
        {%- for script in scripts -%} 
            <script defer src="{{script}}"></script>
        {%- endfor -%}
    </head>
    <body>
        <div class="header-container">
            {% include 'src/_includes/global/components/header.html' %}
        </div>
        <main>{{content | safe}}</main>
        <div class="footer-container">
            {% include 'src/_includes/global/components/footer.html' %}
        </div>
    </body>
</html>
