---
layout: global/layouts/base.html
---
{%- from "src/_includes/global/components/link-button.njk" import linkButton -%}
{%- from "src/_includes/global/components/card-list.njk" import cardList -%}
{{content | safe}}
<header class="title">
    <div class="title__content">
        <h1>
            <a href="/{{root | lower}}/">{{root}}</a>
            {% if category !== "All" %}
                <div>/</div>
                <a href="/{{root | lower}}/{{category | lower}}/">{{category}}</a>
            {% endif %}
        </h1>
    </div>
</header>
<section class="featured">
    <div id="canvas-gradient" data-gradient-height="600" class="featured__slant"></div>
    <script defer src="/js/gradient.js"></script>
    <div class="featured__content">
        {%- for post in collections[type + 'Featured'] -%} 
            {% include "global/components/card-featured.html" %}
        {%- endfor -%}
    </div>
</section>
{% if category === "All" %}
    <div class="disclaimer-container">{% include 'src/_includes/global/components/disclaimer.html' %}</div>
{% endif %}
{{ cardList({ collection: collections[type + 'NotFeatured']}) }}