---
layout: global/layouts/base.html
---
{%- from "src/_includes/global/components/link-button.njk" import linkButton -%}
{%- from "src/_includes/global/components/card-list.njk" import cardList -%}
{% include 'src/_includes/global/components/title.html' %}
{{content | safe}}
<section class="featured">
    <div id="canvas-gradient" data-gradient-height="600" class="featured__slant"></div>
    <div class="featured__content">
        {%- for post in collections[type + 'Featured'] -%} 
            {% include "global/components/card-featured.html" %}
        {%- endfor -%}
    </div>
</section>
{% if category === "All" %}
    <div class="disclaimer-container">{% include 'src/_includes/global/components/disclaimer.html' %}</div>
{% endif %}
{{ cardList({ collection: collections[type + 'NotFeatured']}) }}
{% include 'src/_includes/global/components/placeholder.html' %}