html {
    height: 100%;
}

body {
    background: #000;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin: 0;
}

main {
    color: white;
}

code {
    display: block;
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-size: min(2vw, 1.5vh);
    margin: auto;
    width: min-content;
}

pre {
    margin: 0;
}
