.first-section {
    display: grid;
    grid-template-columns: var(--grid-content-columns);
    background: #f6f9fc;

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding-left: 32px;
        display: grid;
        grid-template-areas: 
            "title ."
            "copy-1 copy-2"
            "cta .";
        gap: 32px;
        padding-bottom: 200px;
        padding-top: clamp(72px, 8vw + 42px, 128px);

        @media (max-width: 599px){
            grid-template-areas: 
                "title"
                "copy-1"
                "copy-2"
                "cta";
            padding-right: 32px;
        }
    }

    &__header {
        grid-area: title;
    }

    &__caption {
        color: rgb(99, 91, 255);
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-weight: 500;
    }

    &__title {
        color: rgb(10, 37, 64);
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.1px;
        font-weight: 500;
        margin: 32px 0 0;

        @media (min-width: 1080px) {
            font-size: 38px;
        }
    }

    &__copy {
        color: rgb(66, 84, 102);
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-weight: 300;

        &--first {
            grid-area: copy-1;
            padding-right: 12px;
        }
        &--second {
            grid-area: copy-2;
            padding-right: 112px;

            @media (max-width: 899px){
                padding-right: 64px;
            }
            @media (max-width: 599px){
                padding-right: 0px;
            }
        }
    }

    &__cta {
        grid-area: cta;
    }

    &__slant {
        position: relative;
        bottom: -1px; //White line issue in chrome
        grid-column: 1/-1;
        grid-row: 1/-1;
        background: #0a2540;
        clip-path: polygon(0% 100%, 100% calc(100% - 100px), 100% 100%, 0% 100%);
    }
}
