.site-header {
    --transition-duration: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    display: grid;
    grid-template-columns: var(--grid-content-columns);
    grid-template-rows: auto auto;
    padding-bottom: 200px;
    overflow: hidden;

    &__background {
        position: relative;
        grid-row: 1/3;
        grid-column: 1/-1;
        clip-path: polygon(0% 0%, 100% 0%, 100% min(260px - 7vw, 270px), 0% min(15vw + 258px, 640px));
        z-index: -1;
        overflow: hidden;
    }

    &__conic {
        position: absolute;
        left: -150%;
        top: -120%;
        height: 400%;
        width: 400%;
        background: repeating-conic-gradient(#a960ee, #90e0ff, #ff333d, #ffcb57, #a960ee);
        animation: conic-animation linear 40s infinite;
        transform-origin: center center;
    }

    &__linear {
        position: absolute;
        top: -50%;
        height: 200%;
        width: 800%;
        background: linear-gradient(120deg, #a960ee, transparent, #90e0ff, transparent, #ffcb57, transparent, #90e0ff);
        animation: linear-animation linear 60s infinite alternate;
    }

    &__vignette {
        position: absolute;
        height: 40%;
        width: 100%;
        background: linear-gradient(rgba(255, 51, 61, 0.5), transparent);
    }

    &__stripe {
        position: absolute;
        height: 100%;
        width: 100%;
        min-width: 1000px;
        --gradientColorZero: #a960ee;
        --gradientColorOne: #ff333d;
        --gradientColorTwo: #90e0ff;
        --gradientColorThree: #ffcb57;
        --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
        --gradientColorOneTransparent: rgba(255, 51, 61, 0);
        --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
        --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
        // background: radial-gradient(var(--gradientColorZero) 40%,var(--gradientColorTwoTransparent) 60%) -620px -180px no-repeat,radial-gradient(var(--gradientColorThree) 33%,var(--gradientColorThreeTransparent) 67%) -120px -24px no-repeat,radial-gradient(var(--gradientColorTwo) 40%,var(--gradientColorTwoTransparent) 70%) -470px 150px no-repeat,var(--gradientColorZero);

        // @media (min-width: 600px) {
        //     background: radial-gradient(var(--gradientColorZero) 40%,var(--gradientColorTwoTransparent) 60%) -420px -180px no-repeat,radial-gradient(var(--gradientColorThree) 23%,var(--gradientColorThreeTransparent) 70%) 240px -24px no-repeat,radial-gradient(var(--gradientColorTwo) 30%,var(--gradientColorTwoTransparent) 70%) -270px 220px no-repeat,var(--gradientColorZero);
        // }

        // @media (min-width: 900px) {
        //     background: radial-gradient(var(--gradientColorThree) 23%,var(--gradientColorThreeTransparent) 67% 100%) 385px -24px,radial-gradient(var(--gradientColorOne) 0,var(--gradientColorOneTransparent) 60% 100%) -940px 290px,radial-gradient(var(--gradientColorTwo) 10%,var(--gradientColorTwoTransparent) 60% 100%) -120px 250px,radial-gradient(var(--gradientColorOne) 40%,var(--gradientColorOneTransparent) 57% 100%) 495px -44px,radial-gradient(var(--gradientColorZero) 30%,var(--gradientColorZeroTransparent) 67% 100%) 122px -120px,radial-gradient(var(--gradientColorZero) 10%,var(--gradientColorZeroTransparent) 60% 100%) -420px 120px,radial-gradient(var(--gradientColorTwo) 15%,var(--gradientColorTwoTransparent) 50% 100%) -620px 0,radial-gradient(var(--gradientColorTwo) 25%,var(--gradientColorTwoTransparent) 50% 100%) 520px -250px,var(--gradientColorZero);
        // }
        background: radial-gradient(var(--gradientColorThree) 23%,var(--gradientColorThreeTransparent) 67% 100%) 385px -24px,radial-gradient(var(--gradientColorOne) 0,var(--gradientColorOneTransparent) 60% 100%) -940px 290px,radial-gradient(var(--gradientColorTwo) 10%,var(--gradientColorTwoTransparent) 60% 100%) -120px 250px,radial-gradient(var(--gradientColorOne) 40%,var(--gradientColorOneTransparent) 57% 100%) 495px -44px,radial-gradient(var(--gradientColorZero) 30%,var(--gradientColorZeroTransparent) 67% 100%) 122px -120px,radial-gradient(var(--gradientColorZero) 10%,var(--gradientColorZeroTransparent) 60% 100%) -420px 120px,radial-gradient(var(--gradientColorTwo) 15%,var(--gradientColorTwoTransparent) 50% 100%) -620px 0,radial-gradient(var(--gradientColorTwo) 25%,var(--gradientColorTwoTransparent) 50% 100%) 520px -250px,var(--gradientColorZero);
        // transform-origin: top left;
        // transform: scaleX(0.5);
    }

    @keyframes radial-animation {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
        
    }


    @keyframes conic-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes linear-animation {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-80%);
        }
    }

    &__navbar {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 32px 0px;

        @media (max-width: 599px) {
            height: 64px;
            padding-top: 24px;
        }
    }

    &__logo {
        padding-bottom: 4px;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-weight: 600;
    }

    &__list {
        padding: 0;
        display: flex;
        gap: 10px;

        @media (max-width: 599px) {
            display: none;
        }
    }

    &__list-item {
        list-style: none;
    }

    &__list-button {
        position: relative;
        font-family: var(--font-family);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.2px;
        color: white;
        background: transparent;
        transition: opacity var(--transition-duration);
        border: none;
        outline: none;
        padding: 10px 20px;

        @media (hover: hover) {
            &:hover {
                opacity: 0.6;
            }
        }

        @media (hover: none) {
            &:focus {
                opacity: 0.6;
            }
        }
    }

    &__login {
        @media (max-width: 599px) {
            display: none;
        }
    }

    &__hero {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        display: grid;
        grid-template-columns: min(53vw + 48px, 624px) minmax(100px, 1fr);
        grid-template-rows: 100px auto auto auto;
        padding-top: clamp(0px, 8vw - 28px, 48px);
        padding-left: 32px;
        column-gap: 40px;

        @media (max-width: 599px) {
            grid-template-columns: 1fr;
            padding-right: 32px;
        }
    }

    &__title {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
        font-size: min(10vw, 98px);
        font-weight: 500;
        line-height: 1.04;
        letter-spacing: -0.04em;
        z-index: -2;
        color: #bdc6d2;

        &--overlay {
            color: #3a3a3a;
            opacity: 0.1;
            z-index: 0;
        }

        &--burn {
            mix-blend-mode: color-burn;
            opacity: 1;
        }

        @media (max-width: 599px) {
            font-size: min(13vw, 78px);
        }
    }

    &__text {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.2px;
        padding-top: 32px;
        max-width: min(53vw - 84px, 492px);
        color: rgb(66, 84, 102);

        @media (max-width: 599px) {
            max-width: initial;
        }
    }

    &__cta {
        grid-column: 1/2;
        grid-row: 4/5;
        padding-top: 32px;
        padding-bottom: 16px;
    }

    &__perf {
        grid-column: 2/3;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: 100px 164px 1fr;
        grid-template-rows: 1fr 8fr 1fr;
        height: 600px;

        @media (max-width: 599px) {
            display: none;
        }
    }
}
