.slant-mask {
    // height: 200px;
    background: #0a2540;

    &--first-second {
        // align-self:  end;
        grid-row: first;
        grid-column: left/right;
        // clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
        clip-path: polygon(0% 100%, 100% calc(100% - 100px), 100% 100%, 0% 100%);
        z-index: 2;
    }
}