{%- from "src/_includes/global/components/card.njk" import card -%}
{% macro cardList(params) %}
<section class="card-list">
    <div class="card-list__content">
        <div class="card-list__list">
            {%- for item in params.collection -%} 
                {{ card({ item: item}) }}
            {%- endfor -%}
        </div>
    </div>
</section>
{% endmacro %}