{%- from "src/_includes/global/components/navigation.njk" import navigation -%}
<article class="card-featured">
    <div class="card-featured__navigation-container">
        <nav class="navigation">
            <ul>
                {% if post.data.home === "blog" %}
                <li><a aria-label="See all blog posts in the category {{post.data.category}}" href="/{{post.data.home}}/{{post.data.category | lower}}">{{post.data.category}}</a></li>
                {% else %}
                <li><a aria-label="See all projects in the category {{post.data.category}}" href="/{{post.data.home}}/{{post.data.category | lower}}">{{post.data.category}}</a></li>
                {% endif %}
            </ul>
        </nav>
        <div>/</div>
        <p>Featured</p>
    </div>
    <h2 class="card-featured__title"><a href="{{post.url}}">{{ post.data.title }}</a></h2>
    <p class="card-featured__copy">{{ post.data.snippet }}</p>
    <div class="card-featured__cta">
        {% if post.data.home === "blog" %}
        {{ linkButton({ text: (post.data.cta if post.data.cta else "Read post"), href: post.url }) }}
        {% else %}
        {{ linkButton({ text: (post.data.cta if post.data.cta else "See project"), href: post.url }) }}
        {% endif %}
    </div>
    <img src="" class="card-featured__image lazyfit" data-add-class="lazyfit--show" data-src="{{post.data.img}}?tr=w-{width},h-{height},c-maintain_ratio,fo-top" alt="" />
</article>