{% macro navigation(params) %}
<nav class="navigation">
    <ul>
        {%- for item in params.items -%}
            <li><a href="/{{item[0] | lower}}">{{item[1]}}</a></li>
            <div>/</div>
        {%- endfor -%}
    </ul>
</nav>
{% endmacro %}
