<section class="placeholder">
    <div class="placeholder__content">
        <h2 class="placeholder__title" >The end of a very short road</h2>
        <p class="placeholder__copy">You’ve reached the end of a very short road. But remember, it’s a journey, not a race. And maybe the real treasure was the time you didn’t waste along the way?</p>
        <p>The site will be a little light on content while I work on organizing and documenting all my past shenanigans. Stay tuned!</p>
    </div>
</section>