@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.article {
    display: grid;
    grid-template-columns:
        minmax(0px, 1fr)
        clamp(0px, (100vw - $text-max-width) / 2, ($content-max-width - $text-max-width) / 2)
        minmax(0, $text-max-width)
        clamp(0px, (100vw - $text-max-width) / 2, ($content-max-width - $text-max-width) / 2)
        minmax(0px, 1fr);

    &__slant {
        height: min(64px, 6vw);
        grid-column: 2;
        display: grid;
        grid-template-columns: 16px 1fr 16px;
        grid-template-rows: 0.375fr 0.25fr 0.375fr;
        transform: skewY(-12deg);
        padding-left: 16px;

        & div:nth-child(1) {
            grid-column: 2/-1;
            grid-row: 1/3;
            background: var(--color-slant-upper, #11efe3);
        }
        & div:nth-child(2) {
            grid-column: 1/3;
            grid-row: 2/4;
            background: var(--color-slant-lower, #96f);
        }
        & div:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/3;
            background: var(--color-slant-overlap, #0048e5);
        }

        @media (max-width: $breakpoint-large) {
            margin-bottom: 16px;
        }

        @media (max-width: $breakpoint-xlmedium) {
            display: none;
        }
    }

    &__date {
        position: relative;
        grid-column: 3;
        color: $stripe-cloud-blue;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
        height: min-content;
        max-width: 600px;
        margin: 0 auto;

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid var(--color-primary, #6259ff);
            left: -16px;
            height: 100%;
            transform: scaleY(1);
        }
    }

    &__content {
        padding: 0 32px;
        grid-column: 2/5;

        & section:not([class]) {
            display: contents;
        }

        & h1,
        & h2,
        :where(&) p:where(:not(.article__date)) {
            max-width: 600px;
            margin: 0 auto;
        }

        & h1 {
            color: $stripe-dark-blue;
            font-size: $font-size-xxlarge;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-copy;

            @media (max-width: $breakpoint-xlsmall) {
                font-size: $font-size-xlarge;
            }

            @media (max-width: $breakpoint-small) {
                font-size: $font-size-larger;
            }
        }

        & > h2 {
            position: relative;
            margin-bottom: -16px;
            color: $stripe-dark-blue;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-copy;
            margin-top: 32px;

            @media (max-width: $breakpoint-xlsmall) {
                font-size: $font-size-regular;
            }

            & a {
                color: $stripe-dark-blue;

                &::before {
                    position: absolute;
                    content: "#";
                    color: var(--color-primary);
                    transform: translateX(-150%);
                    transition: color var(--transition-duration), text-decoration-color var(--transition-duration);
                }
                &:hover::before {
                    color: $stripe-dark-blue;
                }

                @media (max-width: 700px) {
                    &::before {
                        position: relative;
                        left: -16px;
                        margin-right: -8px;
                    }
                }

                &:focus-visible {
                    outline: none;
                    text-decoration: 0.2em underline var(--color-primary);
                }
            }
        }

        :where(&) p:where(:not(.article__date)) {
            color: $stripe-cloud-blue;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;
            margin-top: 32px;

            @media (max-width: $breakpoint-small) {
                font-size: $font-size-smaller;
            }
        }

        & sup {
            line-height: 0;
            font-size: 0.6em;
        }

        & a {
            font-weight: $font-weight-bold;
            color: var(--color-primary, $stripe-purple);
            transition: color var(--transition-duration), text-decoration-color var(--transition-duration);

            &:hover {
                color: $stripe-dark-blue;
            }
        }

        & blockquote {
            max-width: $text-max-width;
            margin: 32px auto 0 auto;
            padding: 0px 16px;
            & > p {
                margin-top: 32px;
                color: $stripe-cloud-blue;
                font-size: $font-size-small;
                font-weight: $font-weight-regular;
                line-height: $line-height-regular;
                letter-spacing: $letter-spacing-copy;
                @media (max-width: $breakpoint-small) {
                    font-size: $font-size-smaller;
                }
            }
        }

        & > ul {
            margin: 0 auto;
            max-width: $text-max-width;
            color: $stripe-cloud-blue;
            font-size: $font-size-smaller;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;
            list-style: none;
            padding: 0;
            & > li {
                margin-bottom: 16px;
            }
        }
    }
}

.wide {
}

.image {
    margin-top: 32px;
    width: 50%;
    max-width: calc(($content-max-width - 64px) / 2);
    shape-margin: 4px;
    aspect-ratio: 1/1;

    &--small {
        width: 30%;
    }

    &--left {
        float: left;
        margin-right: 20px;
    }
    &--right {
        float: right;
        margin-left: 20px;
    }
    &--center {
        display: block;
        margin: 0 auto;
    }

    &--hero {
        margin-top: $line-height-small;
        @media (max-width: 500px) {
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }

    &--pop-500 {
        @media (max-width: 500px) {
            margin-left: 0;
            margin-right: 0;
            float: none;
            max-width: none;
            width: 100%;
        }
    }
}

// .article {
//     position: relative;
//     display: grid;
//     grid-template-columns: $grid-content-columns;

//     @media (max-width: 850px) {
//         padding-top: min(32px, 5vw);
//     }

//     &__slant {
//         margin-top: 32px;
//         margin-bottom: 8px;
//         height: 64px;
//         grid-column: 1/-1;
//         display: grid;
//         grid-template-columns: minmax(0px, 1fr) minmax(0, 240px) 600px minmax(0, 240px) minmax(0px, 1fr);
//         grid-template-rows: 0.375fr 0.25fr 0.375fr;
//         transform-origin: max(32px, (100vw - $content-max-width + 64px) / 2) 0;
//         transform: skewY(-12deg);
//         z-index: -1;
//         grid-row: 1;

//         & div:nth-child(1) {
//             grid-row: 1/3;
//             background: var(--color-slant-upper, #11efe3);
//             grid-column: 2/3;
//         }
//         & div:nth-child(2) {
//             margin-left: 32px;
//             margin-right: -64px;
//             grid-row: 2/4;
//             background: var(--color-slant-lower, #96f);
//             grid-column: 2/3;
//         }
//         & div:nth-child(3) {
//             margin-left: 32px;
//             grid-row: 2/3;
//             background: var(--color-slant-overlap, #0048e5);
//             grid-column: 2/3;
//         }

//         @media (max-width: 850px) {
//             display: none;
//         }
//     }

//     &__content {
//         grid-column: 2;
//         grid-row: 1;
//         display: grid;
//         grid-template-columns: minmax(0px, 1fr) minmax(0, 600px) minmax(0px, 1fr);
//         padding: 0px 32px 0px;

//         & > section:not([class]) {
//             grid-column: 2;
//             display: flex;
//             flex-direction: column;
//             gap: 32px;

//             &:last-of-type {
//                 padding-bottom: 64px;
//             }

//             &:not(:first-of-type) {
//                 padding-top: 32px;
//             }

//             & > h1 {
//                 margin: 0;
//                 color: $stripe-dark-blue;
//                 font-size: $font-size-xxlarge;
//                 font-weight: $font-weight-bold;
//                 letter-spacing: $letter-spacing-copy;

//                 @media (max-width: $breakpoint-xlsmall) {
//                     font-size: $font-size-xlarge;
//                 }

//                 @media (max-width: $breakpoint-small) {
//                     font-size: $font-size-larger;
//                 }
//             }

//             & > p {
//                 max-width: 80ch;
//                 color: $stripe-cloud-blue;
//                 font-size: $font-size-small;
//                 font-weight: $font-weight-regular;
//                 line-height: $line-height-regular;
//                 letter-spacing: $letter-spacing-copy;

//                 @media (max-width: $breakpoint-small) {
//                     font-size: $font-size-smaller;
//                 }
//             }

//             & > h2 {
//                 position: relative;
//                 margin: 0;
//                 margin-bottom: -16px;
//                 color: $stripe-dark-blue;
//                 font-size: $font-size-large;
//                 font-weight: $font-weight-bold;
//                 letter-spacing: $letter-spacing-copy;

//                 @media (max-width: $breakpoint-xlsmall) {
//                     font-size: $font-size-regular;
//                 }

//                 & a {
//                     color: $stripe-dark-blue;

//                     &::before {
//                         position: absolute;
//                         content: "#";
//                         color: var(--color-primary);
//                         transform: translateX(-150%);
//                         transition: color var(--transition-duration), text-decoration-color var(--transition-duration);
//                     }
//                     &:hover::before {
//                         color: $stripe-dark-blue;
//                     }

//                     @media (max-width: 700px) {
//                         &::before {
//                             position: relative;
//                             left: -16px;
//                             margin-right: -8px;
//                         }
//                     }

//                     &:focus-visible {
//                         outline: none;
//                         text-decoration: 0.2em underline var(--color-primary);
//                     }
//                 }
//             }

//             & sup {
//                 line-height: 0;
//                 font-size: 0.6em;
//             }

//             & a {
//                 font-weight: $font-weight-bold;
//                 color: var(--color-primary, $stripe-purple);
//                 transition: color var(--transition-duration), text-decoration-color var(--transition-duration);

//                 &:hover {
//                     color: $stripe-dark-blue;
//                 }
//             }

//             & blockquote {
//                 color: $stripe-cloud-blue;
//                 font-size: $font-size-small;
//                 font-weight: $font-weight-regular;
//                 line-height: $line-height-regular;
//                 letter-spacing: $letter-spacing-copy;
//             }

//             & > ul {
//                 color: $stripe-cloud-blue;
//                 font-size: $font-size-smaller;
//                 font-weight: $font-weight-regular;
//                 line-height: $line-height-regular;
//                 letter-spacing: $letter-spacing-copy;
//                 list-style: none;
//                 & > li {
//                     margin-bottom: 16px;
//                 }
//             }

//             & img {
//                 transition: opacity 1s;
//                 // width: 100%;
//             }
//         }
//     }

//     &__hashtags {
//         grid-column: 2;
//         padding-top: 8px;
//     }

//     &__date {
//         grid-column: 3;
//         grid-row: 1;
//         position: relative;
//         color: $stripe-cloud-blue;
//         font-size: $font-size-smaller;
//         font-weight: $font-weight-regular;
//         line-height: $line-height-small;
//         letter-spacing: $letter-spacing-copy;
//         justify-self: end;
//         height: min-content;
//         margin-right: 2px;
//         margin-top: 10px;

//         &::before {
//             position: absolute;
//             content: "";
//             border-left: 1px solid var(--color-primary, $stripe-purple);
//             left: -16px;
//             height: 100%;
//             transform: scaleY(math.div($font-size-smaller, $line-height-small));
//         }

//         @media (max-width: 850px) {
//             justify-self: start;
//             grid-column: 2;
//             grid-row: 1;
//             margin: 0;
//             margin-bottom: 8px;
//         }
//     }

// }
