@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.article {
    display: grid;
    grid-template-columns:
        minmax(0px, 1fr)
        clamp(0px, (100vw - $text-max-width) / 2, ($content-max-width - $text-max-width) / 2)
        minmax(0, $text-max-width)
        clamp(0px, (100vw - $text-max-width) / 2, ($content-max-width - $text-max-width) / 2)
        minmax(0px, 1fr);

    &__slant {
        height: min(64px, 6vw);
        grid-column: 2;
        display: grid;
        grid-template-columns: 16px 1fr 16px;
        grid-template-rows: 0.375fr 0.25fr 0.375fr;
        transform: skewY(-12deg);
        padding-left: 16px;

        & div:nth-child(1) {
            grid-column: 2/-1;
            grid-row: 1/3;
            background: var(--color-slant-upper, #11efe3);
        }
        & div:nth-child(2) {
            grid-column: 1/3;
            grid-row: 2/4;
            background: var(--color-slant-lower, #96f);
        }
        & div:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/3;
            background: var(--color-slant-overlap, #0048e5);
        }

        @media (max-width: $breakpoint-large) {
            margin-bottom: 16px;
        }

        @media (max-width: $breakpoint-xlmedium) {
            display: none;
        }
    }

    &__date {
        position: relative;
        grid-column: 3;
        color: $stripe-cloud-blue;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
        height: min-content;
        max-width: 600px;
        margin: 0 auto;

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid var(--color-primary, #6259ff);
            left: -16px;
            height: 100%;
            transform: scaleY(math.div($font-size-smaller, $line-height-small));
        }
    }

    &__content {
        padding: 0 32px;
        grid-column: 2/5;

        & section:not([class]) {
            display: contents;
        }

        & section:last-of-type > :last-child{
            padding-bottom: 64px;
        }

        & h1,
        & h2,
        & h3,
        :where(&) p:where(:not(.article__date)) {
            max-width: 600px;
            margin: 0 auto;
        }

        & h1 {
            color: $stripe-dark-blue;
            font-size: $font-size-xxlarge;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-copy;

            @media (max-width: $breakpoint-xlsmall) {
                font-size: $font-size-xlarge;
            }

            @media (max-width: $breakpoint-small) {
                font-size: $font-size-larger;
            }
        }

        & h2 {
            position: relative;
            color: $stripe-dark-blue;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-copy;
            margin-top: 32px;

            @media (max-width: $breakpoint-xlsmall) {
                font-size: $font-size-regular;
            }

            & a {
                color: $stripe-dark-blue;
                
                &:hover::before, &:focus-visible::before {
                    position: absolute;
                    content: "#";
                    color: $stripe-light-grey;
                    transform: translateX(-130%);
                    transition: color var(--transition-duration), text-decoration-color var(--transition-duration);
                    font-size: 0.8em;
                    top: 0.15em;
                }

                &:focus-visible {
                    outline: none;
                    text-decoration: 0.2em underline var(--color-primary);
                }
            }
        }

        & h3 {
            color: $stripe-cloud-blue;
            font-size: $font-size-small;
            font-weight: $font-weight-boldest;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;

            @media (max-width: $breakpoint-small) {
                font-size: $font-size-smaller;
            }

            text-decoration-color: rgba($color: #000000, $alpha: 0.0);
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0.2em;
            transition: text-decoration-color var(--transition-duration);
        
            @supports not selector(:focus-visible){
                &:focus:not(:hover) {
                    outline: none;
                    text-decoration-color: currentColor;
                }
            }
        
            &:focus-visible {
                outline: none;
                text-decoration-color: currentColor;
            }
        }



        & h2 + p{
            margin-top: 16px;
        }

        :where(&) p:where(:not(.article__date)) {
            color: $stripe-cloud-blue;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;
            margin-top: 32px;

            @media (max-width: $breakpoint-small) {
                font-size: $font-size-smaller;
                line-height: $line-height-small;
            }
        }

        & sup {
            line-height: 0;
            font-size: 0.6em;
        }

        & a {
            font-weight: $font-weight-bold;
            color: var(--color-primary, $stripe-purple);
            transition: color var(--transition-duration), text-decoration-color var(--transition-duration);

            &:hover {
                color: $stripe-dark-blue;
            }
        }

        & blockquote {
            max-width: $text-max-width;
            margin: 32px auto 0 auto;
            padding: 0px 16px;
            & > p {
                margin-top: 32px;
                color: $stripe-cloud-blue;
                font-size: $font-size-small;
                font-weight: $font-weight-regular;
                line-height: $line-height-regular;
                letter-spacing: $letter-spacing-copy;
                @media (max-width: $breakpoint-small) {
                    font-size: $font-size-smaller;
                }
            }
        }

        & ul:not([class]) {
            margin: 16px auto 0px auto;
            max-width: $text-max-width;
            color: $stripe-cloud-blue;
            font-size: $font-size-smaller;
            font-weight: $font-weight-regular;
            line-height: $line-height-small;
            letter-spacing: $letter-spacing-copy;
            list-style: none;
            padding: 0;
            & > li {
                margin-bottom: 8px;
            }
        }
    }
}

.img-wide {
    display: block;
    width: 100%;
    margin-top: 32px;
}


.img-float {
    margin-top: 32px;
    width: 50%;
    max-width: calc(($content-max-width - 64px) / 2);
    shape-margin: 4px;
    aspect-ratio: 1/1;

    &--small {
        width: 30%;
    }

    &--left {
        float: left;
        margin-right: 20px;
    }
    &--right {
        float: right;
        margin-left: 20px;
    }
    &--center {
        display: block;
        margin: 0 auto;
    }

    &--hero {
        margin-top: $line-height-small;
        @media (max-width: 500px) {
            margin-top: 0px;
            margin-bottom: 16px;
        }
    }

    &--pop-500 {
        @media (max-width: 500px) {
            display: block;
            margin-left: 0;
            margin-right: 0;
            float: none;
            max-width: none;
            width: 100%;
        }
    }
}

pre {
    margin: 0;
}

code {
    display: block;
    border-radius: 8px;
    max-width: 600px;
    margin: 32px auto 0 auto;
    overflow: scroll;
    background: #0c2e4e;
    padding: 16px;
    font-family: 'Roboto Mono', monospace;
    font-size: $font-size-smaller;
    font-weight: $font-weight-regular;
    line-height: $line-height-regular;
    letter-spacing: $letter-spacing-copy;
    color: $stripe-white;
    outline: 6px solid rgba($color: $stripe-blue, $alpha: 0.0);
    transition: outline-color var(--transition-duration);

    @media (max-width: $breakpoint-small) {
        font-size: 12px;
        line-height: $line-height-small;
    }

    &:focus-visible {
        outline: 6px solid rgba($color: $stripe-blue, $alpha: 1.0);;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
    
    & .punctuation {
        color: $stripe-white;
    }
    & .tag, & .keyword, & .property {
        color:#788ef7;
    }
    & .attr-name, & .function {
        color: $stripe-blue;
    }
    & .attr-value, & .string, & .selector {
        color: #d679ff;
    }
    & .class-name, & .interpolation {
        color: #ffa956;
    }
    & .parameter, & .atrule  {
        color: #ae79ff;
    }
}