@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.article {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(320px, 720px) minmax(0px, 1fr);

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding: 12px 32px 0px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        margin: 0;
        padding-top: 24px;
        color: $stripe-dark-blue;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-copy;

        @media (max-width: $breakpoint-xlsmall) {
            font-size: $font-size-xlarge;
        }

        @media (max-width: $breakpoint-small) {
            font-size: $font-size-larger;
        }
    }

    &__topics {
    }

    &__date {
        position: relative;
        color: $stripe-cloud-blue;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
        justify-self: end;
        height: min-content;
        margin-bottom: 8px;

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid $stripe-purple;
            left: -16px;
            height: 100%;
            transform: scaleY(math.div($font-size-smaller, $line-height-small));
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        gap: 24px;

        & p {
            color: $stripe-cloud-blue;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;

            @media (max-width: $breakpoint-small) {
                font-size: $font-size-smaller;
            }
        }

        & h2 {
            margin: 0;
            padding-top: 32px;
            color: $stripe-dark-blue;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-copy;

            @media (max-width: $breakpoint-xlsmall) {
                font-size: $font-size-regular;
            }

            & span {
                color: $stripe-purple;
            }
        }

        & sup {
            line-height: 0;
            font-size: 0.6em;
        }

        & a {
            font-weight: $font-weight-bold;
            color: var(--color-primary, $stripe-purple);
        }

        & ul {
            color: $stripe-cloud-blue;
            font-size: $font-size-smaller;
            font-weight: $font-weight-regular;
            line-height: $line-height-regular;
            letter-spacing: $letter-spacing-copy;
            list-style: none;
        }

        & li {
            margin-bottom: 16px;
        }
    }
}
