@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.card {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    grid-template-areas:
        "navigation date"
        "title title"
        "hashtags image"
        "copy image"
        "cta image"
        "project image";

    @media (max-width: $breakpoint-xlmedium) {
        grid-template-areas:
            "navigation date"
            "title title"
            "hashtags hashtags"
            "image image"
            "copy copy"
            "cta cta";
         > .card__image {
            height: 60vw;
        }
    }

    & > :not(:last-child) {
        padding-left: 16px;
    }

    &__navigation-container {
        grid-area: navigation;
        align-self: center;
        position: relative;
        line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
        font-size: $font-size-smaller;
        font-weight: $font-weight-bold;

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid var(--color-primary, $stripe-purple);
            left: 0px;
            height: $font-size-smaller;
            height: 100%;
            transform: scaleY(math.div($font-size-smaller, $line-height-small));
        }
    }

    &__title {
        grid-area: title;
        margin: 0;
        // padding-bottom: 8px;

        & a {
            color: $stripe-dark-blue;
            font-size: $font-size-larger;
            font-weight: $font-weight-bold;
            letter-spacing: -0.2px;
            padding-right: 32px;

            @media (max-width: $breakpoint-small) {
                padding-right: 16px;
                font-size: $font-size-large;
                line-height: $line-height-large;
            }
        }
    }

    &__date {
        position: relative;
        grid-area: date;
        color: $stripe-cloud-blue;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        line-height: $line-height-small;
        letter-spacing: $letter-spacing-copy;
        justify-self: end;
        padding-right: 32px;
        height: min-content;

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid var(--color-primary, $stripe-purple);
            left: -16px;
            height: 100%;
            transform: scaleY(math.div($font-size-smaller, $line-height-small));
        }
    }

    &__hashtags {
        grid-area: hashtags;
        padding-right: 32px;
    }

    &__copy {
        grid-area: copy;
        color: $stripe-cloud-blue;
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
        line-height: $line-height-regular;
        letter-spacing: $letter-spacing-copy;
        padding-right: 64px;

        @media (max-width: $breakpoint-medium) {
            padding-right: 16px;
        }
        @media (max-width: $breakpoint-small) {
            font-size: $font-size-smaller;
            line-height: $line-height-small;
        }
    }

    &__cta {
        grid-area: cta;
        --link-button-text-color: var(--color-primary, #{$stripe-purple});
        --link-button-bg-color: transparent;
        --link-button-bg-hover-color: transparent;
        --link-button-text-hover-color: #{$stripe-dark-blue};
        padding-bottom: 16px;
        & a {
            padding-left: 0;
        }
    }

    &__image {
        grid-area: image;
        border-radius: 8px;
        overflow: hidden;
        background: white;
        box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);

        @media (max-width: $breakpoint-xlmedium){
            box-shadow: 0 6px 12px -2px rgba(50,50,93,0.25),0 3px 7px -3px rgba(0,0,0,0.3);
            margin: 8px 0;
        }

        & img {
            display: block;
            height: 0;
            width: 0;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
