@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.header-container {
    --link-button-text-color: #{$stripe-white};
    --link-button-bg-color: var(--color-primary, #{$stripe-dark-blue});
    --link-button-bg-hover-color: #{$stripe-dark-blue};
    --link-button-text-hover-color: #{$stripe-white};
    --logo-text-color: #{$stripe-dark-blue};
}
