@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.navigation { 
        & ul {
            display: flex;
            align-items: center;
            margin: 0;
            gap: 8px;
            list-style: none;
            padding: 0;
        }

        & div {
            color: #adbdcc;

            &:last-of-type{
                display: none;
            }
        }

        & a {
            color: var(--color-primary, $stripe-purple);
            transition: color var(--transition-duration), text-decoration-color var(--transition-duration);
            text-transform: capitalize;
        }

        & a:hover {
            color: $stripe-dark-blue;
        }
}