@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.title {
    display: grid;
    grid-template-columns: $grid-content-columns;

    &__content {
        grid-column: 2;
        grid-row: 1;
        padding: 32px 32px 32px;
        
        & h1 {
            display: flex;
            align-items: center;
            margin: 0;
            gap: 8px;
            font-size: $font-size-small;
            font-weight: $font-weight-bolder;
        }
        
        & a {
            color: var(--color-primary, $stripe-purple);
            transition: color var(--transition-duration), text-decoration-color var(--transition-duration);;

            &:hover {
                color: $stripe-dark-blue;
            }
        }

        & div {
            color: #adbdcc;
        }
    }
}
