@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

.header-container {
    --link-button-text-color: #{$stripe-white};
    --link-button-bg-color: #{rgba($color: white, $alpha: 0.2)};
    --link-button-bg-hover-color: #{rgba($color: white, $alpha: 0.4)};
    --link-button-text-hover-color: #{$stripe-white};
    --logo-text-color: #{$stripe-white};
    position: absolute;
    left: 0;
    right: 0;
}
