@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;
@use "index/_mixins/section.scss" as *;

.section-2 {
    @include section(transparent);
    position: relative;

    &__content {
        position: relative;
        @include content;
        padding-bottom: clamp(132px, 25vw, 246px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "main image"
            "highlight image";
        row-gap: 36px;

        @media (max-width: $breakpoint-medium) {
            grid-template-columns: initial;
            // grid-template-rows: auto auto 300px;
            grid-template-areas:
                "main"
                "highlight"
                "image";
        }
    }

    &__main {
        grid-area: main;
        margin-right: 64px;
        display: grid;
        gap: 24px;

        @media (max-width: $breakpoint-medium) {
            margin-right: 32px;
        }
    }

    &__header {
        @include section-header($stripe-white, $stripe-blue);
    }

    &__copy {
        @include copy($stripe-light-grey);
    }

    &__cta {
        --link-button-text-color: #{$stripe-dark-blue};
        --link-button-bg-color: #{$stripe-blue};
        --link-button-bg-hover-color: #{$stripe-white};
        --link-button-text-hover-color: #{$stripe-dark-blue};
    }

    &__highlight {
        grid-area: highlight;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        letter-spacing: $letter-spacing-copy;
        line-height: $line-height-small;
        margin-right: 64px;

        @media (max-width: $breakpoint-large) {
            grid-template-columns: initial;
            grid-template-rows: 1fr 1fr;
        }

        @media (max-width: $breakpoint-medium) {
            margin-right: 32px;
        }
    }

    &__highlight-item {
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: 8px;
        font-size: $font-size-smaller;
    }

    &__highlight-icon {
        width: 40px;

        & path {
            stroke: $stripe-purple;
            fill: none;
        }
    }

    &__highlight-title {
        position: relative;
        color: $stripe-white;
        font-size: $font-size-smaller;
        font-weight: $font-weight-bold;
        margin: 0;

        // &::before {
        //     display: block;
        //     position: relative;
        //     content: "";
        //     border-left: 1px solid $stripe-blue;
        //     top: 50%;
        //     left: -16px;
        //     height: $font-size-smaller;
        //     width: 0px;
        // }

        &::before {
            position: absolute;
            content: "";
            border-left: 1px solid $stripe-blue;
            left: -16px;
            height: $font-size-smaller;
            height: 100%;
            transform: scaleY(math.div($font-size-smaller, $line-height-small));
        }
    }

    &__highlight-copy {
        color: $stripe-light-grey;
        font-size: $font-size-smaller;
        font-weight: $font-weight-regular;
        font-style: italic;
    }

    &__highlight-link {
        --link-button-text-color: #{$stripe-blue};
        --link-button-bg-color: transparent;
        --link-button-bg-hover-color: transparent;
        --link-button-text-hover-color: #{$stripe-white};

        & a {
            padding: 0;
        }
    }

    &__image {
        contain: strict;
        grid-area: image;
        width: calc(100% - 32px);
        height: 100%;
        border-radius: 8px;
        outline: 1px solid #0f395e;
        filter: grayscale(100%);
        transition: opacity 1s, filter 0.2s, transform 0.2s;
        transform: scale(var(--image-scale-toggle, 0.99));

        @media (max-width: $breakpoint-medium) {
            height: clamp(400px, 100vw, 500px);
        }

        &:hover {
            transform: scale(1);
            filter: none;
        }
    }

    &__background {
        @include background($stripe-background-white, $stripe-white);
    }

    &__slant {
        @include slant($stripe-dark-blue);
        position: relative;
    }
}
