---
layout: blog/blog-base.html
title: Blog
style: css/blog/blog-main.scss
---

{%- from "src/_includes/index/components/link-button.njk" import linkButton -%}
<header class="title">
    <div class="title__content">
        <h1>
            <a href="/blog/">Blog</a>
            {% if project %} 
                <p>/</p>
                <a>{{category}}</a>
                <p>/</p>
                <a>{{project}}</a>
            {% endif %}  
        </h1>
    </div>
</header>
<section class="featured">
    <div id="canvas-gradient" class="featured__slant"></div>
    <script defer src="/js/gradient.js"></script>
    <div class="featured__content">
        {%- for post in collections.post -%} 
            {% if post.data.featured %} 
                {% include "blog/components/post-card-featured.html" %}
            {% endif %}  
        {%- endfor -%}
    </div>
</section>
<div class="disclaimer-container">{% include 'src/_includes/global/disclaimer.html' %}</div>
<section class="post-list">
    <div class="post-list__content">
        <!-- <div class="post-list__selector">
            <input type="radio" id="theme-all" name="thene-selector" value="all" checked />
            <label for="theme-all">All</label>
            <input type="radio" id="theme-build" name="thene-selector" value="build" checked />
            <label for="theme-build">Build</label>
            <input type="radio" id="theme-write" name="thene-selector" value="write" checked />
            <label for="theme-write">Write</label>
            <input type="radio" id="theme-code" name="thene-selector" value="code" checked />
            <label for="theme-code">Code</label>
        </div> -->
        <div class="post-list__list">
            {%- for post in collections.post -%} 
                {% if not post.data.featured %} 
                    {% include "blog/components/post-card.html" %}
                {% endif %}  
            {%- endfor -%}
        </div>
    </div>
</section>
