{%- from "src/_includes/global/components/link-button.njk" import linkButton -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>lyth frederiksen | home</title>
        <meta name="robots" content="noindex" />
        <link rel="preload" href="css/_fonts/roboto-landing.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="stylesheet" href="css/index/index.scss" />
    </head>
    <body>
        <div class="header-container">{% include 'src/_includes/global/components/header.html' %}</div>
        <main>
            {% include 'src/_includes/index/page-partials/hero.html' %}
            <div class="disclaimer-container">
                {% include 'src/_includes/global/components/disclaimer.html' %}
            </div>
            {% include 'src/_includes/index/page-partials/section-1.html' %}
            {% include 'src/_includes/index/page-partials/section-2.html' %}
            {% include 'src/_includes/index/page-partials/section-3.html' %}
        </main>
        {% include 'src/_includes/global/components/footer.html' %}
        <script defer src="js/lazyfit.js"></script>
        <script defer src="js/gradient.js"></script>
    </body>
</html>
