---
pagination:
 data: paginationData
 size: 1
 alias: pd
layout: global/layouts/main.html
eleventyComputed:
 title: "{{pd | titleFormatter}}"
 root: "{{pd[0]}}"
 category: "{{pd[2]}}"
 style: "css/{{pd[0] | lower}}/{{pd[0] | lower}}-main.scss"
 type: "{{pd[1]}}{{pd[2]}}"
permalink: "/{{pd | urlFormatter | lower}}/index.html"
---