---
pagination:
 data: paginationData
 size: 1
 alias: pagiData
layout: global/layouts/main.html
eleventyComputed:
 title: "{{pagiData | titleFormatter}}"
 root: "{{pagiData[0]}}"
 category: "{{pagiData[2]}}"
 style: "css/{{pagiData[0] | lower}}/{{pagiData[0] | lower}}-main.scss"
 type: "{{pagiData[1]}}{{pagiData[2]}}"
permalink: "/{{pagiData | urlFormatter | lower}}/index.html"
---