@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;
@use "projects/projects-project.scss";
@use "global/components/card-list.scss";
@use "global/components/card.scss";

.card-list {
    grid-column: 1/-1;
    // grid-column: 3/4;
    max-width: 664px;
    margin: 0 auto;

    &__content {
        padding-left: 0;
        padding-right: 0;
    }
}