a {
    // -webkit-text-decoration: underline rgba($color: #000000, $alpha: 0);
    // text-decoration: 0.2em underline rgba($color: #000000, $alpha: 0);

    text-decoration-color: rgba($color: #000000, $alpha: 0.0);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.2em;

    transition: text-decoration-color var(--transition-duration);
    &:focus-visible {
        outline: none;
        // -webkit-text-decoration: underline currentColor;
        // text-decoration: 0.2em underline currentColor;
        
        text-decoration-color: currentColor;
    }
    // &:focus:not(:hover) {
    //     outline: none;
    //     text-decoration: 0.2em underline currentColor;
    // }
}