@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;

body {
    overflow-y: scroll;
    background-color: var(--color-body-bg, $stripe-background-white);
    font-family: $font-family;
    margin: 0;
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
