@use "sass:math";
@use "global/_variables/general.scss" as *;
@use "global/_variables/fonts.scss" as *;
@use "global/_variables/colors.scss" as *;
@use "blog/blog-post.scss";
@use "global/fonts/font-face-code.scss";

.step {
    max-width: 600px;
    margin: 32px auto 0 auto;
    h3 {
        display: inline;
        & + p {
            display: inline;
            max-width: calc(600px - 64px);
        }
        padding-right: 4px;
    }
}

em {
    font-family: 'Roboto Mono', monospace;
    color: #1d2f40;
    background: rgba($color: $stripe-light-grey, $alpha: 0.5);
    font-style: normal;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 0.9em;
}

.image-flair {
    position: relative;
    margin-right: -32px;
    overflow: hidden;

    & > img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__greyscale {

    }

    &__color {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.5s opacity ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}